<section class="general">
  <div class="container">
    <div class="general__content">
      {{> body}}
    </div>
    <div class="general__pagination">
      {{> pagination}}
    </div>
  </div>
</section>
