<article class="entry post-146 post type-post status-publish format-standard hentry category-ride category-events tag-bicycle tag-roller-skates"
  id="post-146">
  <div class="entry__date">
    12.05.17
  </div>
  <h1 class="entry__title">Закат в Гребенях (19 мая 2017)</h1>
  <div class="entry__tags">
    <i class="icon-tag"></i> <a href="/ride">Покатушки</a>, <a href="/events">События</a>, <a href="/tag/bicycle">Велосипед</a>,
    <a href="/tag/roller-skates">Ролики</a>
  </div>
  <!-- .entry__tags -->
  <div class="entry__thumbnail entry-thumb">
    <img src="https://crazyk.ru/wp-content/uploads/2017/05/8999ed6c_v1.jpeg" class="entry-thumb__img attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://crazyk.ru/wp-content/uploads/2017/05/8999ed6c_v1.jpeg 799w, https://crazyk.ru/wp-content/uploads/2017/05/8999ed6c_v1-225x300.jpeg 225w, https://crazyk.ru/wp-content/uploads/2017/05/8999ed6c_v1-768x1024.jpeg 768w"
      sizes="(max-width: 799px) 100vw, 799px">
  </div>
  <div class="entry__content">
    <p><strong>Бревет </strong>— организованный зачётный (с лимитом времени) велозаезд на длинную дистанцию. Стандартными дистанциями
      являются 200, 300, 400, 600, 1000 и 1200 км. Велосипедиста который укладывается в установленное время называют рандоннером.</p>
    <p><span class="embed-responsive embed-responsive_4-3"><span class="embed-responsive__inner"><iframe src="https://player.vimeo.com/video/2126020" width="500" height="375" frameborder="0" title="MUVI 2004 или Волшебники с Семи Холмов" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></span></span></p>
    <h2>Временные лимиты для прохождения бреветов</h2>
    <p>200 км&nbsp; – 13.5 часов&nbsp;(14 часов в Великобритании)<br> 300 км&nbsp; – 20&nbsp;часов<br> 400 км&nbsp;– 27&nbsp;часов<br>      600 км&nbsp;– 40&nbsp;часов<br> 1,000 км&nbsp;– 75&nbsp;часов<br> 1,200 км&nbsp;– 90 часов&nbsp;(или 80 или 84)<br>      1,400 км&nbsp; – 116:40 часов&nbsp;(либо 105:16 часов&nbsp;либо&nbsp;93:20 часов)</p>
    <p><span id="more-238"></span></p>
    <figure id="attachment_438" style="width: 672px" class="wp-caption aligncenter">
      <a href="https://crazyk.ru/wp-content/uploads/2017/06/IMG_3168.jpg"><img class="wp-image-438 size-medium" src="https://crazyk.ru/wp-content/uploads/2017/06/IMG_3168-672x504.jpg" alt=""
          width="672" height="504" srcset="https://crazyk.ru/wp-content/uploads/2017/06/IMG_3168-672x504.jpg 672w, https://crazyk.ru/wp-content/uploads/2017/06/IMG_3168-300x225.jpg 300w, https://crazyk.ru/wp-content/uploads/2017/06/IMG_3168-768x576.jpg 768w, https://crazyk.ru/wp-content/uploads/2017/06/IMG_3168-1024x768.jpg 1024w"
          sizes="(max-width: 672px) 100vw, 672px"></a>
      <figcaption class="wp-caption-text">Как следует нагрузил, чтобы не осталось зазоров</figcaption>
    </figure>
    <p>Они повсюду. Самокаты можно встретить в парке, на дороге, в метро и общественном транспорте. На них ездят и дети и бизнесмены.
      Разнообразие настолько широко, что часто не сразу понимаешь что видишь именно самокат. Очевидно этот форм фактор был
      есть и останется популярным еще долгие годы. Я решил разобраться с тем какие виды самокатов существуют и выделить их
      наиболее значимые конструктивные особенности.</p>
    <p><span id="more-362"></span></p>
    <h2>Классификация самокатов</h2>
    <p>Классифицировать самокаты можно по разному. Каждые производитель старается сделать своё детище наиболее технически продвинутым,
      удобным и конечно особенным. Поэтому любое разделение самокатов на группы довольно условно. На практике один самокат
      может отвечать требованием <a href="#somelink">разных групп</a> или же наоборот быть узкоспециализированным.</p>
    <h3>Самокаты по сфере применения</h3>
    <h4>Городские</h4>
    <div class="gallery galleryid-362 gallery-columns-5 gallery-size-thumbnail" id="gallery-5">
      <figure class="gallery-item">
        <div class="gallery-icon landscape">
          <a data-fancybox="gallery-5" href="https://crazyk.ru/2017/07/what-are-the-different-types-of-scooters/7d81479c205293c1cbd1db3762b6f490"><img alt="" class="attachment-thumbnail size-thumbnail" height="200" sizes="(max-width: 300px) 100vw, 300px" src="https://crazyk.ru/wp-content/uploads/2017/07/7d81479c205293c1cbd1db3762b6f490-300x200.jpg"
              srcset="https://crazyk.ru/wp-content/uploads/2017/07/7d81479c205293c1cbd1db3762b6f490-300x200.jpg 300w, https://crazyk.ru/wp-content/uploads/2017/07/7d81479c205293c1cbd1db3762b6f490.jpg 690w"
              width="300"></a>
        </div>
      </figure>
      <figure class="gallery-item">
        <div class="gallery-icon portrait">
          <a data-fancybox="gallery-5" href="https://crazyk.ru/2017/07/what-are-the-different-types-of-scooters/44e612acaa0"><img alt="" class="attachment-thumbnail size-thumbnail" height="300" sizes="(max-width: 214px) 100vw, 214px" src="https://crazyk.ru/wp-content/uploads/2017/07/44e612acaa0-214x300.jpg"
              srcset="https://crazyk.ru/wp-content/uploads/2017/07/44e612acaa0-214x300.jpg 214w, https://crazyk.ru/wp-content/uploads/2017/07/44e612acaa0-360x504.jpg 360w, https://crazyk.ru/wp-content/uploads/2017/07/44e612acaa0.jpg 521w"
              width="214"></a>
        </div>
      </figure>
      <figure class="gallery-item">
        <div class="gallery-icon landscape">
          <a data-fancybox="gallery-5" href="https://crazyk.ru/2017/07/what-are-the-different-types-of-scooters/samakat-kak-fitnes"><img alt="" class="attachment-thumbnail size-thumbnail" height="223" sizes="(max-width: 300px) 100vw, 300px" src="https://crazyk.ru/wp-content/uploads/2017/07/samakat-kak-fitnes-300x223.jpg"
              srcset="https://crazyk.ru/wp-content/uploads/2017/07/samakat-kak-fitnes-300x223.jpg 300w, https://crazyk.ru/wp-content/uploads/2017/07/samakat-kak-fitnes.jpg 665w"
              width="300"></a>
        </div>
      </figure>
      <figure class="gallery-item">
        <div class="gallery-icon portrait">
          <a data-fancybox="gallery-5" href="https://crazyk.ru/2017/07/what-are-the-different-types-of-scooters/1369126299_hyu-dzhekman2"><img alt="" class="attachment-thumbnail size-thumbnail" height="300" sizes="(max-width: 204px) 100vw, 204px" src="https://crazyk.ru/wp-content/uploads/2017/07/1369126299_hyu-dzhekman2-204x300.jpg"
              srcset="https://crazyk.ru/wp-content/uploads/2017/07/1369126299_hyu-dzhekman2-204x300.jpg 204w, https://crazyk.ru/wp-content/uploads/2017/07/1369126299_hyu-dzhekman2-343x504.jpg 343w, https://crazyk.ru/wp-content/uploads/2017/07/1369126299_hyu-dzhekman2.jpg 500w"
              width="204"></a>
        </div>
      </figure>
      <figure class="gallery-item">
        <div class="gallery-icon portrait">
          <a data-fancybox="gallery-5" href="https://crazyk.ru/2017/07/what-are-the-different-types-of-scooters/1370270501_fafacc4e7711"><img alt="" class="attachment-thumbnail size-thumbnail" height="300" sizes="(max-width: 203px) 100vw, 203px" src="https://crazyk.ru/wp-content/uploads/2017/07/1370270501_fafacc4e7711-203x300.jpg"
              srcset="https://crazyk.ru/wp-content/uploads/2017/07/1370270501_fafacc4e7711-203x300.jpg 203w, https://crazyk.ru/wp-content/uploads/2017/07/1370270501_fafacc4e7711-340x504.jpg 340w, https://crazyk.ru/wp-content/uploads/2017/07/1370270501_fafacc4e7711.jpg 432w"
              width="203"></a>
        </div>
      </figure>
    </div>
    <h4>Трюковые или спортивные</h4>
    <div class="gallery galleryid-362 gallery-columns-3 gallery-size-thumbnail" id="gallery-6">
      <figure class="gallery-item">
        <div class="gallery-icon landscape">
          <a data-fancybox="gallery-6" href="https://crazyk.ru/wp-content/uploads/2017/07/maxresdefault-1.jpg"><img alt="" class="attachment-thumbnail size-thumbnail" height="169" sizes="(max-width: 300px) 100vw, 300px" src="https://crazyk.ru/wp-content/uploads/2017/07/maxresdefault-1-300x169.jpg"
              srcset="https://crazyk.ru/wp-content/uploads/2017/07/maxresdefault-1-300x169.jpg 300w, https://crazyk.ru/wp-content/uploads/2017/07/maxresdefault-1-756x425.jpg 756w, https://crazyk.ru/wp-content/uploads/2017/07/maxresdefault-1-768x432.jpg 768w, https://crazyk.ru/wp-content/uploads/2017/07/maxresdefault-1-1024x576.jpg 1024w"
              width="300"></a>
        </div>
      </figure>
      <figure class="gallery-item">
        <div class="gallery-icon landscape">
          <a data-fancybox="gallery-6" href="https://crazyk.ru/wp-content/uploads/2017/07/9106514_orig.jpg"><img alt="" class="attachment-thumbnail size-thumbnail" height="200" sizes="(max-width: 300px) 100vw, 300px" src="https://crazyk.ru/wp-content/uploads/2017/07/9106514_orig-300x200.jpg"
              srcset="https://crazyk.ru/wp-content/uploads/2017/07/9106514_orig-300x200.jpg 300w, https://crazyk.ru/wp-content/uploads/2017/07/9106514_orig-756x504.jpg 756w, https://crazyk.ru/wp-content/uploads/2017/07/9106514_orig-768x512.jpg 768w, https://crazyk.ru/wp-content/uploads/2017/07/9106514_orig-1024x682.jpg 1024w, https://crazyk.ru/wp-content/uploads/2017/07/9106514_orig.jpg 1100w"
              width="300"></a>
        </div>
      </figure>
      <figure class="gallery-item">
        <div class="gallery-icon landscape">
          <a data-fancybox="gallery-6" href="https://crazyk.ru/wp-content/uploads/2017/07/El_Dorado_13.jpg"><img alt="" class="attachment-thumbnail size-thumbnail" height="169" sizes="(max-width: 300px) 100vw, 300px" src="https://crazyk.ru/wp-content/uploads/2017/07/El_Dorado_13-300x169.jpg"
              srcset="https://crazyk.ru/wp-content/uploads/2017/07/El_Dorado_13-300x169.jpg 300w, https://crazyk.ru/wp-content/uploads/2017/07/El_Dorado_13-756x425.jpg 756w, https://crazyk.ru/wp-content/uploads/2017/07/El_Dorado_13-768x432.jpg 768w, https://crazyk.ru/wp-content/uploads/2017/07/El_Dorado_13-1024x576.jpg 1024w"
              width="300"></a>
        </div>
      </figure>
      <figure class="gallery-item">
        <div class="gallery-icon landscape">
          <a data-fancybox="gallery-6" href="https://crazyk.ru/wp-content/uploads/2017/07/maxresdefault.jpg"><img alt="" class="attachment-thumbnail size-thumbnail" height="169" sizes="(max-width: 300px) 100vw, 300px" src="https://crazyk.ru/wp-content/uploads/2017/07/maxresdefault-300x169.jpg"
              srcset="https://crazyk.ru/wp-content/uploads/2017/07/maxresdefault-300x169.jpg 300w, https://crazyk.ru/wp-content/uploads/2017/07/maxresdefault-756x425.jpg 756w, https://crazyk.ru/wp-content/uploads/2017/07/maxresdefault-768x432.jpg 768w, https://crazyk.ru/wp-content/uploads/2017/07/maxresdefault-1024x576.jpg 1024w"
              width="300"></a>
        </div>
      </figure>
      <figure class="gallery-item">
        <div class="gallery-icon landscape">
          <a data-fancybox="gallery-6" href="https://crazyk.ru/wp-content/uploads/2017/07/Scooter-Freestyle-Worlds-Best-Pro-Scooter-Riders.jpg"><img alt="" class="attachment-thumbnail size-thumbnail" height="136" sizes="(max-width: 300px) 100vw, 300px" src="https://crazyk.ru/wp-content/uploads/2017/07/Scooter-Freestyle-Worlds-Best-Pro-Scooter-Riders-300x136.jpg"
              srcset="https://crazyk.ru/wp-content/uploads/2017/07/Scooter-Freestyle-Worlds-Best-Pro-Scooter-Riders-300x136.jpg 300w, https://crazyk.ru/wp-content/uploads/2017/07/Scooter-Freestyle-Worlds-Best-Pro-Scooter-Riders-756x342.jpg 756w, https://crazyk.ru/wp-content/uploads/2017/07/Scooter-Freestyle-Worlds-Best-Pro-Scooter-Riders-768x348.jpg 768w, https://crazyk.ru/wp-content/uploads/2017/07/Scooter-Freestyle-Worlds-Best-Pro-Scooter-Riders.jpg 1000w"
              width="300"></a>
        </div>
      </figure>
    </div>
  </div>
  <!-- .entry__content -->
  {{> author-meta mod='entry__author-full'}}
  {{> comments}}
</article>
<!-- #post-## -->
