.footer {
  margin: 2rem 0 1rem;
}

.footer__nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.footer__nav li {
  margin: 0 15px 1rem 0;
}

.footer__nav li:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  .footer__nav ul {
    justify-content: flex-end;
  }
}
