<div class="footer container-wide">
  <nav class="footer__nav">
    <ul>
      <li><a href="#">О проекте</a></li>
      <li><a href="#">Правообладателям</a></li>
      <li><a href="#">Партнерство</a></li>
      <li><a href="#">Реклама</a></li>
    </ul>
  </nav>
</div>
