.entry img {
  max-height: 500px;
}

.entry + .entry {
  margin-top: 2rem;
}

.entry__date,
.entry__tags,
.entry__author {
  color: #adadad;
  font-size: 14px;
}

.entry__title {
  margin: .6rem 0 1rem;
  line-height: 1;
  color: #343b3e;
}

.entry__tags a {
  color: #adadad;
}

.entry__tags a:hover {
  color: #777777;
}

.entry__tags .icon-tag::before {
  margin-left: 0;
}

.entry__thumbnail {
  margin: 1rem 0;
  display: block;
}

.entry__content {
  line-height: 1.5;
  color: #343b3e;
  font-size: 14px;
}

.entry__content h1,
.entry__content h2,
.entry__content h3,
.entry__content h4,
.entry__content h5,
.entry__content h6 {
  margin: 1.1em 0 .8em;
  line-height: 1;
}

.entry__footer {
  margin: 1rem 0;
}

.entry__author {
  margin: 1rem 0;
}

.entry__author .icon-user::before {
  margin-left: 0;
}

.entry__author-full {
  margin: 2rem 0;
}

.more-link {
  display: inline-block;
  padding: .5rem .875rem;
  line-height: initial;
  text-decoration: none;
  background: rgba(0, 172, 240, .6);
  color: #fff;
  border-radius: 4px;
  transition: background .3s;
  font-size: 14px;
}

.more-link:hover {
  background: rgba(0, 172, 240, 1);
  color: #fff;
}


@media (min-width: 768px) {
  .entry__author,
  .entry__tags,
  .entry__date {
    font-size: 14px;
  }

  .more-link {
    font-size: 1rem;
  }

  .entry__content {
    font-size: 1.125rem;
  }
}
