.nav-links {
  display: flex;
  color: #343b3e;
}

.nav-links a {
  color: #00a9ed;
  text-decoration: none;
}

.nav-links a:hover {
  color: #0190ca;
}

.page-numbers {
  padding: 5px 15px;
  border-bottom: 3px solid #e6e6e6;
}

.page-numbers:hover {
  border-color: #adadad;
}

.page-numbers.current {
  border-color: #adadad;
}
