<div class="comments-area" id="comments">
  <h2 class="comments-title">3 комментария</h2>

  <ol class="comment-list">
    <li class="comment byuser comment-author-crazyk bypostauthor even thread-even depth-1 parent" id="comment-2">
      <article class="comment-body" id="div-comment-2">
        <footer class="comment-meta">
          <div class="comment-author vcard">
            <img alt="" class="avatar avatar-42 photo" height="42" src="http://2.gravatar.com/avatar/b94c2619ae879953b35f5314c2db6eb9?s=42&amp;d=mm&amp;r=g" srcset="http://2.gravatar.com/avatar/b94c2619ae879953b35f5314c2db6eb9?s=84&amp;d=mm&amp;r=g 2x" width="42">
            <b class="fn">Crazyk</b><span class="says">:</span>
          </div><!-- .comment-author -->
          <div class="comment-metadata">
            <a href="http://crazyk.ru/2017/05/sunset-in-ridges-19-may-2017#comment-2"><time datetime="2017-05-16T15:22:18+00:00">16.05.2017 в 15:22</time></a>
          </div><!-- .comment-metadata -->
        </footer><!-- .comment-meta -->
        <div class="comment-content">
          <p>Тестовый комментарий, может быть каким угодно</p>
        </div><!-- .comment-content -->
        <div class="reply">
          <a aria-label="Комментарий к записи Crazyk" class="comment-reply-link" href="http://crazyk.ru/2017/05/sunset-in-ridges-19-may-2017?replytocom=2#respond" onclick="return addComment.moveForm( &quot;div-comment-2&quot;, &quot;2&quot;, &quot;respond&quot;, &quot;146&quot; )" rel="nofollow">Ответить</a>
        </div>
      </article><!-- .comment-body -->
      <ol class="children">
        <li class="comment byuser comment-author-crazyk bypostauthor odd alt depth-2" id="comment-4">
          <article class="comment-body" id="div-comment-4">
            <footer class="comment-meta">
              <div class="comment-author vcard">
                <img alt="" class="avatar avatar-42 photo" height="42" src="http://2.gravatar.com/avatar/b94c2619ae879953b35f5314c2db6eb9?s=42&amp;d=mm&amp;r=g" srcset="http://2.gravatar.com/avatar/b94c2619ae879953b35f5314c2db6eb9?s=84&amp;d=mm&amp;r=g 2x" width="42"> <b class="fn">Crazyk</b><span class="says">:</span>
              </div><!-- .comment-author -->
              <div class="comment-metadata">
                <a href="http://crazyk.ru/2017/05/sunset-in-ridges-19-may-2017#comment-4"><time datetime="2017-05-16T15:25:05+00:00">16.05.2017 в 15:25</time></a>
              </div><!-- .comment-metadata -->
            </footer><!-- .comment-meta -->
            <div class="comment-content">
              <p>Иногда в комментариях завязываются нехилые дебаты, которые еще называют «Холиварами».</p>
            </div><!-- .comment-content -->
            <div class="reply">
              <a aria-label="Комментарий к записи Crazyk" class="comment-reply-link" href="http://crazyk.ru/2017/05/sunset-in-ridges-19-may-2017?replytocom=4#respond" onclick="return addComment.moveForm( &quot;div-comment-4&quot;, &quot;4&quot;, &quot;respond&quot;, &quot;146&quot; )" rel="nofollow">Ответить</a>
            </div>
          </article><!-- .comment-body -->
        </li><!-- #comment-## -->
      </ol><!-- .children -->
    </li><!-- #comment-## -->
    <li class="comment byuser comment-author-crazyk bypostauthor even thread-odd thread-alt depth-1 parent" id="comment-3">
      <article class="comment-body" id="div-comment-3">
        <footer class="comment-meta">
          <div class="comment-author vcard">
            <img alt="" class="avatar avatar-42 photo" height="42" src="http://2.gravatar.com/avatar/b94c2619ae879953b35f5314c2db6eb9?s=42&amp;d=mm&amp;r=g" srcset="http://2.gravatar.com/avatar/b94c2619ae879953b35f5314c2db6eb9?s=84&amp;d=mm&amp;r=g 2x" width="42"> <b class="fn">Crazyk</b><span class="says">:</span>
          </div><!-- .comment-author -->
          <div class="comment-metadata">
            <a href="http://crazyk.ru/2017/05/sunset-in-ridges-19-may-2017#comment-3"><time datetime="2017-05-16T15:23:26+00:00">16.05.2017 в 15:23</time></a>
          </div><!-- .comment-metadata -->
        </footer><!-- .comment-meta -->
        <div class="comment-content">
          <p>Может быть понятным, а может быть и нет</p>
        </div><!-- .comment-content -->
        <div class="reply">
          <a aria-label="Комментарий к записи Crazyk" class="comment-reply-link" href="http://crazyk.ru/2017/05/sunset-in-ridges-19-may-2017?replytocom=3#respond" onclick="return addComment.moveForm( &quot;div-comment-3&quot;, &quot;3&quot;, &quot;respond&quot;, &quot;146&quot; )" rel="nofollow">Ответить</a>
        </div>
      </article><!-- .comment-body -->
      <ol class="children">
        <li class="comment byuser comment-author-oksaleks odd alt depth-2" id="comment-5">
          <article class="comment-body" id="div-comment-5">
            <footer class="comment-meta">
              <div class="comment-author vcard">
                <img alt="" class="avatar avatar-42 photo" height="42" src="http://2.gravatar.com/avatar/e0efcaffbea5104c1107ac71a1d73e40?s=42&amp;d=mm&amp;r=g" srcset="http://2.gravatar.com/avatar/e0efcaffbea5104c1107ac71a1d73e40?s=84&amp;d=mm&amp;r=g 2x" width="42"> <b class="fn">OksAleks</b><span class="says">:</span>
              </div><!-- .comment-author -->
              <div class="comment-metadata">
                <a href="http://crazyk.ru/2017/05/sunset-in-ridges-19-may-2017#comment-5"><time datetime="2017-05-16T15:46:40+00:00">16.05.2017 в 15:46</time></a>
              </div><!-- .comment-metadata -->
              <p class="comment-awaiting-moderation">Ваш комментарий ожидает проверки.</p>
            </footer><!-- .comment-meta -->
            <div class="comment-content">
              <p>Конечно на много лучше когда тему обсуждают несколько человек, а не один</p>
            </div><!-- .comment-content -->
            <div class="reply">
              <a aria-label="Комментарий к записи OksAleks" class="comment-reply-link" href="http://crazyk.ru/2017/05/sunset-in-ridges-19-may-2017?replytocom=5#respond" onclick="return addComment.moveForm( &quot;div-comment-5&quot;, &quot;5&quot;, &quot;respond&quot;, &quot;146&quot; )" rel="nofollow">Ответить</a>
            </div>
          </article><!-- .comment-body -->
        </li><!-- #comment-## -->
      </ol><!-- .children -->
    </li><!-- #comment-## -->
  </ol><!-- .comment-list -->

  <div class="comment-respond" id="respond">
    <h2 class="comment-reply-title" id="reply-title">Добавить комментарий <small><a href="/2017/05/sunset-in-ridges-19-may-2017#respond" id="cancel-comment-reply-link" rel="nofollow" style="display:none;">Отменить ответ</a></small></h2>
    <form action="http://crazyk.ru/wp-comments-post.php" class="comment-form" id="commentform" method="post" name="commentform" novalidate="">
      <p class="logged-in-as"><a aria-label="Вы вошли как OksAleks. Изменить профиль." href="http://crazyk.ru/wp-admin/profile.php">Вы вошли как OksAleks</a>. <a href="http://crazyk.ru/wp-login.php?action=logout&amp;redirect_to=http%3A%2F%2Fcrazyk.ru%2F2017%2F05%2Fsunset-in-ridges-19-may-2017&amp;_wpnonce=cb0b3bc9be">Выйти?</a></p>
      <p class="comment-form-comment"><textarea aria-required="true" id="comment" maxlength="65525" name="comment" required="required"></textarea></p>
      <p class="form-submit"><input class="submit" id="submit" name="submit" type="submit" value="Отправить"> <input id="comment_post_ID" name="comment_post_ID" type="hidden" value="146"> <input id="comment_parent" name="comment_parent" type="hidden" value="0"></p>
      <p style="display: none;"><input id="akismet_comment_nonce" name="akismet_comment_nonce" type="hidden" value="6ff287c4c6"></p>
      <p style="display: none;"></p><input id="ak_js" name="ak_js" type="hidden" value="1494934314055">
    </form>
  </div><!-- #respond -->
</div><!-- .comments-area -->
