#wpadminbar {
  position: fixed;
  bottom: 0;
  top: auto;
}

#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
  bottom: 32px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, .2);
}

.admin-bar {
  padding-bottom: 32px;
}

@media screen and (max-width: 782px) {
  .admin-bar
  {
    padding-bottom: 46px;
  }
}
