<div class="author-meta {{mod}}">
  <div class="author-meta__photo"><img src="{{path.chunks}}author-meta/img/DmitriyKaryakin.jpg" alt="Дмитрий Карякин"></div>
  <div class="author-meta__intro">
    <div class="author-meta__title">Автор</div>
    <div class="author-meta__name"><a href="#">Дмитрий Карякин</a></div>
    <div class="author-meta__about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus cum iste, saepe, voluptas ea ullam atque optio doloribus expedita vero, temporibus error magni. Obcaecati, incidunt. Reprehenderit, velit ab iusto molestias.</div>
  </div>
</div>
